@import "../../variables";

#about {
  height: 100vh;
  width: 96vw;
  margin: auto;
  overflow: hidden;
  perspective: 1000px;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .text {
      h1 {
        font-size: 30px;
        animation: text-left 1s ease;
        span {
          color: colour(accent);
          font-size: 50px;
        }
      }

      p {
        font-size: 16px;
        text-align: justify;
        animation: text-right 1s ease;
        font-weight: 100;
      }

      @keyframes text-left {
        from {
          opacity: 0;
          transform: translateX(-150%);
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }

      @keyframes text-right {
        from {
          opacity: 0;
          transform: translateX(150%);
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }

    .image {
      display: none;
    }

    @include desktop {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .text {
        animation: about-text 1s ease;

        h1 {
          font-size: 40px;
          animation: about-texth1 1.5s ease;
          span {
            font-size: 60px;
          }

          @keyframes about-texth1 {
            from {
              opacity: 0;
              transform: translateY(-150%);
            }
            to {
              opacity: 1;
              transform: translateY(0%);
            }
          }
        }

        p {
          font-size: 22px;
          text-align: justify;
          animation: about-textp 1.5s ease;

          @keyframes about-textp {
            from {
              opacity: 0;
              transform: translateY(150%);
            }
            to {
              opacity: 1;
              transform: translateY(0%);
            }
          }
        }
      }

      .image {
        display: block;
        text-align: center;
        animation: about-img 1.5s ease;
        img {
          width: 600px;
          height: 600px;
        }

        @keyframes about-img {
          from {
            opacity: 0;
            transform: translateX(150%);
          }
          to {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        #boy-head {
          animation: boy-head 1s infinite ease-in-out alternate 0.5s;
          transform-origin: bottom center;
          transform-box: fill-box;
          @keyframes boy-head {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(-20deg);
            }
          }
        }

        #outer-box1 {
          animation: outer-box1 2s infinite linear 0.5s;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes outer-box1 {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(360deg);
            }
          }
        }

        #outer-box2,
        #outer-box3 {
          animation: outer-box23 2s infinite linear 0.5s;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes outer-box23 {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(-360deg);
            }
          }
        }

        #inner-text {
          animation: inner-text 1s infinite ease-in-out alternate 0.5s;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes inner-text {
            from {
              transform: rotateZ(-10deg);
            }
            to {
              transform: rotateZ(10deg);
            }
          }
        }

        #inner-circle {
          animation: inner-circle 4s infinite linear 0.5s;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes inner-circle {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(360deg);
            }
          }
        }

        #inner-box {
          animation: inner-box 1s infinite linear alternate 0.5s;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes inner-box {
            from {
              transform: translateX(-10px);
            }
            to {
              transform: translateX(10px);
            }
          }
        }
      }
    }
  }
}
