@import "../variables";

#main {
  display: flex;
  height: 100vh;
  width: 100vw;

  header {
    nav {
      background-color: darken($color: colour(primary), $amount: 2%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      width: 4vw;

      img {
        width: 50px;
        height: 50px;
        text-align: center;
      }

      .sidebar-page-list,
      .sidebar-contact-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        li {
          list-style-type: none;
          margin: $margin 0;

          .sidebar-page-links,
          .sidebar-contact-links {
            .icon {
              width: 20px;
              height: 20px;
              color: lighten($color: colour(primary), $amount: 40%);

              &:hover {
                color: colour(accent);
              }
            }
          }
        }
      }
    }
  }
}
