@import "../variables";

#main {
  header {
    position: absolute;
    width: 100%;

    @include desktop {
      position: relative;
    }
    nav {
      background-color: darken($color: colour(primary), $amount: 2%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      height: 100%;
      width: 100%;

      @include desktop {
        align-items: center;
        height: 100vh;
        width: 4vw;
      }

      #navlogo {
        width: 50px;
        height: 50px;
        margin: $margin;
      }

      .togglebutton {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 20px;

        right: 0;
        top: 20px;
        margin: $margin;

        .bar {
          width: 100%;
          height: 3px;
          background-color: white;
        }

        @include desktop {
          display: none;
        }
      }

      .sidebar-page-list,
      .sidebar-contact-list {
        display: none;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;

        li {
          list-style-type: none;
          margin: $margin 0;

          .sidebar-page-links,
          .sidebar-contact-links {
            .icon {
              width: 20px;
              height: 20px;
              color: lighten($color: colour(primary), $amount: 40%);

              &:hover {
                color: colour(accent);
              }
            }
          }
        }

        @include desktop {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .sidebar-page-list.active {
        display: flex;
      }

      .sidebar-contact-list {
        display: none;
      }

      .sidebar-page-list,
      .sidebar-contact-list {
        @include desktop {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }
  }

  @include desktop {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
}
