$accent: #f8dc3d;

header {
  height: 10vh;
  padding: 0.5em 0;
  background-color: darken($color: #1f1f1f, $amount: 2%);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: auto;

    .logo {
      text-decoration: none;
      color: white;
      height: 100%;
      svg {
        width: 50px;
      }
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;

        li {
          padding: 0 1em;
          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
}
