<div id="main">
  <header>
    <nav>
      <a href="#"><img src="../assets/images/logo.png" alt="logo"/></a>
      <ul class="sidebar-page-list">
        <li>
          <a href="/" class="sidebar-page-links">
            <i class="fas fa-torii-gate icon home"></i>
          </a>
        </li>
        <li>
          <a href="/about" class="sidebar-page-links">
            <i class="far fa-question-circle icon about"></i>
          </a>
        </li>
        <li>
          <a href="#" class="sidebar-page-links">
            <i class="fas fa-code icon project"></i>
          </a>
        </li>
        <li>
          <a href="#" class="sidebar-page-links">
            <i class="far fa-address-card icon contact"></i>
          </a>
        </li>
      </ul>

      <ul class="sidebar-contact-list">
        <li>
          <a href="https://github.com/rrgmon" class="sidebar-contact-links">
            <i class="fab fa-github icon"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/rrgmon/"
            class="sidebar-contact-links"
          >
            <i class="fab fa-linkedin-in icon"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
