$colours: (
  primary: #1f1f1f,
  accent: #f8dc3d,
  shadow-text: #3a5ae9
);

$fontcolours: (
  primary: #ffffff
);

$padding: 10px;
$margin: 10px;

@function colour($colour-name) {
  @return map-get($map: $colours, $key: $colour-name);
}

@function fontcolour($colour-name) {
  @return map-get($map: $fontcolours, $key: $colour-name);
}
